*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html , body{
    scroll-behavior: smooth;
    font-family: "Cormorant SC", serif;
    font-weight: <weight>;
    font-style: normal;
}
a , li
{
    list-style: none;
    text-decoration: none;
}